
<div class="table-responsive p-4">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Fecha</th>
                <th scope="col">Medico</th>
                <th scope="col">Causa</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>
            {{#each citas}}
            <tr>
                <th scope="row"> 1 </th>
                <td>{{fecha}} </td>
                <td>{{medico}}</td>
                <td>{{causa}}</td>
                <td class="text-center"><button class="btn btn-primary">Detalles</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
