
<div class="table-responsive p-4">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">ID appoiment</th>
                <th scope="col">Doctor name</th>
                <th scope="col">Cause</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {{#each citas}}
            <tr>
                <th scope="row"> {{id}} </th>
                <td>{{doctorName}} </td>
                <td>{{causa}}</td>
                <td>{{fechaCita}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
