<div class="contenedor">
    <div class="slider">
        <ul>            
            <li><img src="img/human-sk.jpg" alt="no encontrada"></li>
            <li><img src="img/dna.jpg" alt="no encontrada"></li>
            <li><img src="img/dna-2.jpg" alt="no encontrada"></li>
            <li><img src="img/world.png" alt="no encontrada"></li>
        </ul>
    </div>
    <div class="texto-encima">
        <div class="container">
            <div class="card text-center p-2">
                <div class="card-header">
                    <h2>Sistema de citas CIMED</h2>
                </div>
                <div class="card-body">
                    <h4>Reserva tu cita</h4>
                    {{!-- Image by <a href="https://pixabay.com/users/stocksnap-894430/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2617701">StockSnap</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2617701">Pixabay</a> --}}
                    <img src="img/agregar.jpg" alt="Imagen no encontrada">
                    <br>
                    <br>
                    Si ya tienes una cuenta inicia sesion 
                    <br>

                    <a href="/signin" class="btn btn-success col-12"> Login</a>
                    <br>
                    <br>
                    Si no posees una cuenta <a href="/signup" class="link">Crea una.</a>
                </div>

            </div>
        </div>

    </div>
</div>

