<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signout</title>
    <%- include('../partials/header') %>

</head>
<body>
    <%- include('../partials/navigation') %>

    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card text-center">
                    <div class="card-header">
                        <h3>SignUp</h3>
                    </div>
                    <div class="card-body">
                        <img src="https://w7.pngwing.com/pngs/41/428/png-transparent-medicine-health-care-computer-icons-symbol-health-logo-company-icon-electric-blue.png"
                        class="card-img-top mx-auto m-2 rounded-circle w-50" alt="">
                    
                        <form action="/signup" method="POST">
                        <div class="form-group">
                            <input type="text" name="fullname" placeholder="Full Name" class="form-control" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="username" placeholder="Username" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block">
                                Registrarme
                            </button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>
</body>
</html>